{% extends 'edu_app_CRUD/edu_app_CRUD_base.html' %}
  {% block body_block %}
    <!-- checking for updateview -->
    {% if school_form.instance.pk %}
      <div class="jumbotron mt-3 p-5">
        <h1>Update School Form</h1>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ school_form.as_p }}
            <input type="hidden" name="school_val" value="1">
          </div>
          <input type="submit" class="btn btn-primary" name="school_submit" value="Submit">
        </form>
      </div>
    {% elif student_form.instance.pk %}
      <div class="jumbotron mt-3 p-5">
        <h1>Update Student Form</h1>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ student_form.as_p }}
            <input type="hidden" name="school_val" value="1">
          </div>
          <input type="submit" class="btn btn-primary" name="student_submit" value="Submit">
        </form>
      </div>
    {% else %}
      <div class="jumbotron mt-3 p-5">
        <h1>Create School Form</h1>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ school_form.as_p }}
            <input type="hidden" name="school_val" value="1">
          </div>
          <input type="submit" class="btn btn-primary" name="school_submit" value="Submit">
        </form>
      </div>
      <div class="jumbotron mt-3 p-5">
        <h1>Create Student Form</h1>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ student_form.as_p }}
            <input type="hidden" name="student_val" value="1">
          </div>
          <input type="submit" class="btn btn-primary" name="student_submit" value="Submit">
        </form>
      </div>
    {% endif %}
  {% endblock %}
